- if (!everyauth.loggedIn)
  h2 Not Authenticated
  #fb-login.fb_button(style='background-position: left -188px')
    a.fb_button_medium(href='/auth/facebook')
      span#fb_login_text.fb_button_text Connect with Facebook
  #twitter-login
    a.twitter(href='/auth/twitter')
      span#twitter_login_text Login with Twitter
- else
  h2 Authenticated
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)
  - if (everyauth.twitter)
    h3 Twitter User Data
    p= JSON.stringify(everyauth.twitter.user)
  h3
    a(href='/logout') Logout
